body {
    background-image: url(space.jpg);
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    display: block;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: whitesmoke;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

figure {
    display: grid;
    text-align: center;
    text-indent: 0;
    color: whitesmoke;
    margin: auto;
    padding: 10px;
}

img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

video {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.container {
    display: grid | inline-grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    justify-content: center;
}

@media (max-width:600px) {}

@keyframes dreh {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

#crewmate:hover {
    animation: dreh 4s infinite linear;

}
